{{template "header"}}
<div class="container text-center">
  <h1>Go Challenge</h1>
  <button class="btn btn-primary" onclick="window.location.href='/login'">Login</button>
  <button class="btn btn-primary" onclick="window.location.href='/register'">Register</button>
  <div class="container">
    <div class="jumbotron text-center text-success">
        <p>Login or Register with:</p>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
    </div>
</div>
</div>
{{template "footer"}}