<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Profile Page </title>  
</head>    
<body>    
   <p>Profile Page</p>
   <form action="/updateForm" method="post">  
    <div class="container">
        <input type="hidden" name="id" value="{{.ID}}" readonly>   
        <label>Username : </label>   
        <input type="text" placeholder="Enter Username" name="username" value={{.Name}} required> 
        <label>Eamil : </label>   
        <input type="email" placeholder="Enter Email" name="email" value={{.Email}} } required>  
        <label>Password : </label>   
        <input type="password" placeholder="Enter Password" name="password" value="{{.Password}}" required>  
        <button type="submit">Update</button>     
    </div>   
</form> 
</body>     
</html>